<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Task Creation Form</title>
</head>
<body>
<div>
  {{ task_form_error }}
  <form action="{% url 'add_task' %}" method="post" enctype="multipart/form-data">
    <p class="lead">Task Name</p>
    <input type="text" name="name">
    <p class="lead">Train set</p>
    <div class="form-group">
      <input type="file" name="train_in">
    </div>
    <p class="lead">Test set</p>
    <div class="form-group">
      <input type="file" name="test_in">
    </div>
    <p class="lead">Model Parameter</p>
    <div class="form-group">
      <input type="file" name="parameter">
    </div>
    <label class="control-label">Save Model:</label>
    <button type="submit" class="btn btn-default">Save</button>
    {% csrf_token %}
  </form>
</div>

</body>
</html>