{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Task Information Inspection</title>

  <!-- Bootstrap Core CSS -->
  <link href="{% static 'nngarage/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- MetisMenu CSS -->
  <link href="{% static 'nngarage/css/metisMenu.css' %}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{% static 'nngarage/css/sb-admin-2.css' %}" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="{% static 'nngarage/css/font-awesome.css' %}" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script> <![endif]-->

  <link rel="stylesheet" href="{% static 'nngarage/css/graphic.css' %}">
  <script src="{% static 'nngarage/js/d3.min.js' %}"></script>

</head>
<body>
<div id="wrapper">
  <div id="metrics">
    <div class="panel panel-default">
      <div class="panel-heading">Metrics</div>
      <div class="panel-body">
        <p class="lead">Task Name: {{task_name}}</p>

        <p class="lead">Model</p>
        <p>Model file:
          <a href="/nngarage/get-file/{{para_name}}">{{para_name}}</a>
        </p>
        <p class="lead">Parameters</p>
          <p>Learning rate: <span>{{learn_rate}}</span></p>
          <p>Number of iterations: <span>{{num_iter}}</span></p>
          <p>Output dimension: <span>{{out_dim}}</span></p>

        <p>Model:
          <a href="/nngarage/download_file/{{model_name}}">{{model_name}}</a>
        </p>

        <p class="lead">Train In</p>
        <p>Dataset:
          <a href="/nngarage/get-file/{{train_in_name}}">{{train_in_name}}</a>
        </p>

        <p class="lead">Train Out</p>
        <p>Dataset:
          <a href="/nngarage/get-file/{{train_out_name}}">{{train_out_name}}</a>
        </p>
        <p>Elapsed time:
          <span id="time">{{elasped_time}}</span>
        </p>


        <p class="lead">Test In</p>
        <p>Dataset:
          <a href="/nngarage/get-file/{{test_in_name}}">{{test_in_name}}</a>
        </p>

        <p class="lead">Test Out</p>
        <p>Dataset:
          <a href="/nngarage/get-file/{{test_out_name}}">{{test_out_name}}</a>
        </p>


      </div>
    </div>

  </div>
  <div id="vis">
    <div class="panel panel-default">
      <div class="panel-heading">
        Network Visualization
      </div>
      <div class="panel-body">
        <div id="draw" oncontextmenu="return false;">
          <svg width="700" height="500" class="">
            <g class="brush" style="pointer-events: all; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
              <rect class="background" x="0" width="700" y="0" height="500"
                    style="visibility: hidden; cursor: default;"></rect>
              <rect class="extent" x="0" width="0" y="0" height="0" style="cursor: move;"></rect>
              <g class="resize n" transform="translate(0,0)" style="cursor: ns-resize; display: none;">
                <rect y="-3" width="0" height="6" style="visibility: hidden;"></rect>
              </g>
              <g class="resize e" transform="translate(0,0)" style="cursor: ew-resize; display: none;">
                <rect x="-3" width="6" height="0" style="visibility: hidden;"></rect>
              </g>
              <g class="resize s" transform="translate(0,0)" style="cursor: ns-resize; display: none;">
                <rect y="-3" width="0" height="6" style="visibility: hidden;"></rect>
              </g>
              <g class="resize w" transform="translate(0,0)" style="cursor: ew-resize; display: none;">
                <rect x="-3" width="6" height="0" style="visibility: hidden;"></rect>
              </g>
              <g class="resize nw" transform="translate(0,0)" style="cursor: nwse-resize; display: none;">
                <rect x="-3" y="-3" width="6" height="6" style="visibility: hidden;"></rect>
              </g>
              <g class="resize ne" transform="translate(0,0)" style="cursor: nesw-resize; display: none;">
                <rect x="-3" y="-3" width="6" height="6" style="visibility: hidden;"></rect>
              </g>
              <g class="resize se" transform="translate(0,0)" style="cursor: nwse-resize; display: none;">
                <rect x="-3" y="-3" width="6" height="6" style="visibility: hidden;"></rect>
              </g>
              <g class="resize sw" transform="translate(0,0)" style="cursor: nesw-resize; display: none;">
                <rect x="-3" y="-3" width="6" height="6" style="visibility: hidden;"></rect>
              </g>
            </g>
            <defs>
              <marker id="end-arrow" viewBox="0 -5 10 10" refX="6" markerWidth="3" markerHeight="3" orient="auto">
                <path d="M0,-5L10,0L0,5" fill="#000"></path>
              </marker>
            </defs>
            <defs>
              <marker id="start-arrow" viewBox="0 -5 10 10" refX="4" markerWidth="3" markerHeight="3" orient="auto">
                <path d="M10,-5L0,0L10,5" fill="#000"></path>
              </marker>
            </defs>
            <path class="link dragline hidden" d="M500,70L526,40"></path>
            <g>
              <path class="link" d="M112,70L183,70" style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M110.73312629199899,75.36656314599949L184.79473775300144,112.39736887650072"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M108.48528137423857,78.48528137423857L187.97918471982868,157.97918471982868"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M110.73312629199899,114.63343685400051L184.79473775300144,77.60263112349928"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M112,120L183,120" style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M110.73312629199899,125.36656314599949L184.79473775300144,162.3973688765007"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M212,70L283,70" style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M210.73312629199899,75.36656314599949L284.7947377530014,112.39736887650072"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M208.48528137423858,78.48528137423857L287.9791847198287,157.97918471982868"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M206.65640235470275,79.98460353205412L290.5700966641711,205.85514499625666"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M205.3665631459995,80.73312629199899L292.3973688765007,254.79473775300144"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M210.73312629199899,114.63343685400051L284.7947377530014,77.60263112349928"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M212,120L283,120" style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M210.73312629199899,125.36656314599949L284.7947377530014,162.3973688765007"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M208.48528137423858,128.48528137423858L287.9791847198287,207.97918471982868"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M206.65640235470275,129.98460353205414L290.5700966641711,255.85514499625666"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M208.48528137423858,161.51471862576142L287.9791847198287,82.0208152801713"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M210.73312629199899,164.6334368540005L284.7947377530014,127.60263112349928"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M212,170L283,170" style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M210.73312629199899,175.3665631459995L284.7947377530014,212.3973688765007"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M208.48528137423858,178.48528137423858L287.9791847198287,257.9791847198287"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M312,70L383,70" style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M310.733126291999,75.36656314599949L384.7947377530014,112.39736887650072"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M308.4852813742386,78.48528137423857L387.9791847198287,157.97918471982868"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M306.6564023547028,79.98460353205412L390.5700966641711,205.85514499625666"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M305.3665631459995,80.73312629199899L392.3973688765007,254.79473775300144"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M304.45668811624927,81.14172029062311L393.68635850198024,304.21589625495056"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M310.733126291999,114.63343685400051L384.7947377530014,77.60263112349928"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M312,120L383,120" style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M310.733126291999,125.36656314599949L384.7947377530014,162.3973688765007"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M308.4852813742386,128.48528137423858L387.9791847198287,207.97918471982868"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M306.6564023547028,129.98460353205414L390.5700966641711,255.85514499625666"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M305.3665631459995,130.73312629199899L392.3973688765007,304.7947377530014"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M308.4852813742386,161.51471862576142L387.9791847198287,82.0208152801713"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M310.733126291999,164.6334368540005L384.7947377530014,127.60263112349928"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M312,170L383,170" style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M310.733126291999,175.3665631459995L384.7947377530014,212.3973688765007"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M308.4852813742386,178.48528137423858L387.9791847198287,257.9791847198287"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M306.6564023547028,179.98460353205414L390.5700966641711,305.8551449962567"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M306.6564023547028,210.01539646794586L390.5700966641711,84.14485500374334"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M308.4852813742386,211.51471862576142L387.9791847198287,132.02081528017132"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M310.733126291999,214.6334368540005L384.7947377530014,177.6026311234993"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M312,220L383,220" style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M310.733126291999,225.3665631459995L384.7947377530014,262.3973688765007"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M308.4852813742386,228.48528137423858L387.9791847198287,307.9791847198287"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M305.3665631459995,259.266873708001L392.3973688765007,85.20526224699857"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M306.6564023547028,260.0153964679459L390.5700966641711,134.14485500374334"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M308.4852813742386,261.5147186257614L387.9791847198287,182.02081528017132"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M310.733126291999,264.6334368540005L384.7947377530014,227.6026311234993"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M312,270L383,270" style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M310.733126291999,275.3665631459995L384.7947377530014,312.3973688765007"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M412,70L483,70" style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M410.733126291999,75.36656314599949L484.7947377530014,112.39736887650072"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M410.733126291999,114.63343685400051L484.7947377530014,77.60263112349928"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M412,120L483,120" style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M408.4852813742386,161.51471862576142L487.9791847198287,82.0208152801713"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M410.733126291999,164.6334368540005L484.7947377530014,127.60263112349928"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M406.6564023547028,210.01539646794586L490.5700966641711,84.14485500374334"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M408.4852813742386,211.51471862576142L487.9791847198287,132.02081528017132"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M405.3665631459995,259.266873708001L492.3973688765007,85.20526224699857"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M406.6564023547028,260.0153964679459L490.5700966641711,134.14485500374334"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M404.45668811624927,308.8582797093769L493.68635850198024,85.7841037450494"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
              <path class="link" d="M405.3665631459995,309.266873708001L492.3973688765007,135.20526224699856"
                    style="marker-end: url(&quot;#end-arrow&quot;);"></path>
            </g>
            <g>
              <g transform="translate(100,70)">
                <circle class="node" r="12" selected="false"
                        style="fill: rgb(31, 119, 180); stroke: rgb(21, 83, 125);"></circle>
                <text x="0" y="4" class="id">1</text>
              </g>
              <g transform="translate(100,120)">
                <circle class="node" r="12" selected="false"
                        style="fill: rgb(255, 127, 14); stroke: rgb(178, 88, 9);"></circle>
                <text x="0" y="4" class="id">2</text>
              </g>
              <g transform="translate(200,70)">
                <circle class="node" r="12" selected="false"
                        style="fill: rgb(44, 160, 44); stroke: rgb(30, 112, 30);"></circle>
                <text x="0" y="4" class="id">3</text>
              </g>
              <g transform="translate(200,120)">
                <circle class="node" r="12" selected="false"
                        style="fill: rgb(214, 39, 40); stroke: rgb(149, 27, 28);"></circle>
                <text x="0" y="4" class="id">4</text>
              </g>
              <g transform="translate(200,170)">
                <circle class="node" r="12" selected="false"
                        style="fill: rgb(148, 103, 189); stroke: rgb(103, 72, 132);"></circle>
                <text x="0" y="4" class="id">5</text>
              </g>
              <g transform="translate(300,70)">
                <circle class="node" r="12" selected="false"
                        style="fill: rgb(140, 86, 75); stroke: rgb(98, 60, 52);"></circle>
                <text x="0" y="4" class="id">6</text>
              </g>
              <g transform="translate(300,120)">
                <circle class="node" r="12" selected="false"
                        style="fill: rgb(227, 119, 194); stroke: rgb(158, 83, 135);"></circle>
                <text x="0" y="4" class="id">7</text>
              </g>
              <g transform="translate(300,170)">
                <circle class="node" r="12" selected="false"
                        style="fill: rgb(127, 127, 127); stroke: rgb(88, 88, 88);"></circle>
                <text x="0" y="4" class="id">8</text>
              </g>
              <g transform="translate(300,220)">
                <circle class="node" r="12" selected="false"
                        style="fill: rgb(188, 189, 34); stroke: rgb(131, 132, 23);"></circle>
                <text x="0" y="4" class="id">9</text>
              </g>
              <g transform="translate(300,270)">
                <circle class="node" r="12" selected="false"
                        style="fill: rgb(23, 190, 207); stroke: rgb(16, 133, 144);"></circle>
                <text x="0" y="4" class="id">10</text>
              </g>
              <g transform="translate(400,70)">
                <circle class="node" r="12" selected="false"
                        style="fill: rgb(31, 119, 180); stroke: rgb(21, 83, 125);"></circle>
                <text x="0" y="4" class="id">11</text>
              </g>
              <g transform="translate(400,120)">
                <circle class="node" r="12" selected="false"
                        style="fill: rgb(255, 127, 14); stroke: rgb(178, 88, 9);"></circle>
                <text x="0" y="4" class="id">12</text>
              </g>
              <g transform="translate(400,170)">
                <circle class="node" r="12" selected="false"
                        style="fill: rgb(44, 160, 44); stroke: rgb(30, 112, 30);"></circle>
                <text x="0" y="4" class="id">13</text>
              </g>
              <g transform="translate(400,220)">
                <circle class="node" r="12" selected="false"
                        style="fill: rgb(214, 39, 40); stroke: rgb(149, 27, 28);"></circle>
                <text x="0" y="4" class="id">14</text>
              </g>
              <g transform="translate(400,270)">
                <circle class="node" r="12" selected="false"
                        style="fill: rgb(148, 103, 189); stroke: rgb(103, 72, 132);"></circle>
                <text x="0" y="4" class="id">15</text>
              </g>
              <g transform="translate(400,320)">
                <circle class="node" r="12" selected="false"
                        style="fill: rgb(140, 86, 75); stroke: rgb(98, 60, 52);"></circle>
                <text x="0" y="4" class="id">16</text>
              </g>
              <g transform="translate(500,70)">
                <circle class="node" r="12" selected="false"
                        style="fill: rgb(255, 170, 255); stroke: rgb(158, 83, 135);"></circle>
                <text x="0" y="4" class="id">17</text>
              </g>
              <g transform="translate(500,120)">
                <circle class="node" r="12" selected="false"
                        style="fill: rgb(127, 127, 127); stroke: rgb(88, 88, 88);"></circle>
                <text x="0" y="4" class="id">18</text>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- jQuery -->
<script src="{% static 'nngarage/js/jquery.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'nngarage/js/bootstrap.js' %}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'nngarage/js/metisMenu.js' %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static 'nngarage/js/sb-admin-2.js' %}"></script>
<script src="{% static 'nngarage/js/graphic.js' %}"></script>
<!--<script>
  layers = [2, 3, 5, 6, 2];
  viz_network(layers);
</script> -->

<div style="position: absolute; padding: 0px 10px; background: white none repeat scroll 0% 0%; opacity: 0;"
     class="tooltip"></div>

</body>
</html>
