{% load staticfiles %}
<html lang="en">
<head lang="en">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Create New Task</title>

  <!-- Bootstrap Core CSS -->
  <link href="{% static 'nngarage/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- MetisMenu CSS -->
  <link href="{% static 'nngarage/css/metisMenu.css' %}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{% static 'nngarage/css/sb-admin-2.css' %}" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="{% static 'nngarage/css/font-awesome.css' %}" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script> <![endif]-->

  <link rel="stylesheet" href="{% static 'nngarage/css/graphic.css' %}">
  <script src="{% static 'nngarage/js/d3.js' %}"></script>

</head>
<body>
<div id="wrapper">
  <div id="metrics">
    <div class="panel s">
      <div class="panel-heading">Task Configuration</div>
      <div class="panel-body">
        {{ task_form_error }}
        <form action="{% url 'add_task' %}" method="post">
          <p class="lead">Task Name</p>
          <input type="text" name="name">
          <p class="lead">Train set</p>
          <div class="form-group">
            <input type="file" name="train_in">
          </div>
          <p class="lead">Test set</p>
          <div class="form-group">
            <input type="file" name="test_in">
          </div>
          <p class="lead">Model Parameter</p>
          <div class="form-group">
            <input type="file" name="parameter">
          </div>
          <label class="control-label">Save Model:</label>
          <button type="submit" class="btn btn-default">Save</button>
        </form>
      </div>
    </div>

  </div>
  <div id="vis">
    <div class="panel panel-default">
      <div class="panel-heading">
        Network Visualization
      </div>
      <div class="panel-body">
        <div oncontextmenu="return false;" id="draw">
          <svg height="500" width="700">
            <g style="pointer-events: all;" class="brush">
              <rect height="500" y="0" width="700" x="0" style="visibility: hidden; cursor: default;"
                    class="background"></rect>
              <rect height="0" y="0" width="0" x="0" style="cursor: move;" class="extent"></rect>
              <g transform="translate(0,0)" style="cursor: ns-resize; display: none;" class="resize n">
                <rect style="visibility: hidden;" height="6" width="0" y="-3"></rect>
              </g>
              <g transform="translate(0,0)" style="cursor: ew-resize; display: none;" class="resize e">
                <rect style="visibility: hidden;" height="0" width="6" x="-3"></rect>
              </g>
              <g transform="translate(0,0)" style="cursor: ns-resize; display: none;" class="resize s">
                <rect style="visibility: hidden;" height="6" width="0" y="-3"></rect>
              </g>
              <g transform="translate(0,0)" style="cursor: ew-resize; display: none;" class="resize w">
                <rect style="visibility: hidden;" height="0" width="6" x="-3"></rect>
              </g>
              <g transform="translate(0,0)" style="cursor: nwse-resize; display: none;" class="resize nw">
                <rect style="visibility: hidden;" height="6" width="6" y="-3" x="-3"></rect>
              </g>
              <g transform="translate(0,0)" style="cursor: nesw-resize; display: none;" class="resize ne">
                <rect style="visibility: hidden;" height="6" width="6" y="-3" x="-3"></rect>
              </g>
              <g transform="translate(0,0)" style="cursor: nwse-resize; display: none;" class="resize se">
                <rect style="visibility: hidden;" height="6" width="6" y="-3" x="-3"></rect>
              </g>
              <g transform="translate(0,0)" style="cursor: nesw-resize; display: none;" class="resize sw">
                <rect style="visibility: hidden;" height="6" width="6" y="-3" x="-3"></rect>
              </g>
            </g>
            <defs>
              <marker orient="auto" markerHeight="3" markerWidth="3" refX="6" viewBox="0 -5 10 10" id="end-arrow">
                <path fill="#000" d="M0,-5L10,0L0,5"></path>
              </marker>
            </defs>
            <defs>
              <marker orient="auto" markerHeight="3" markerWidth="3" refX="4" viewBox="0 -5 10 10" id="start-arrow">
                <path fill="#000" d="M10,-5L0,0L10,5"></path>
              </marker>
            </defs>
            <path d="M0,0L0,0" class="link dragline hidden"></path>
            <g></g>
            <g></g>
          </svg>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- jQuery -->
<script src="{% static 'nngarage/js/jquery.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'nngarage/js/bootstrap.js' %}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'nngarage/js/metisMenu.js' %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static 'nngarage/js/sb-admin-2.js' %}"></script>
<script src="{% static 'nngarage/js/graphic.js' %}"></script>
<div style="position: absolute; padding: 0px 10px; background: white none repeat scroll 0% 0%; opacity: 0;"
     class="tooltip"></div>

</body>
</html>
